@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Inter';
    src: url('/Inter-VariableFont_opsz,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

body {
    font-family: 'Inter', sans-serif;
}

.waves-container .shape-fill {
    animation: waveColorTransition 10s infinite alternate;
}

@keyframes waveColorTransition {
    0% {
        fill: #FFFFFF;
    }
    50% {
        fill: #FFDDC1;
    }
    100% {
        fill: #FFFFFF;
    }
}
